@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "CircularStd-Book", sans-serif;
  color: #111;
}

.yellow {
  color: #e4d93e;
}

.orange {
  color: #fa934e;
}

.green {
  color: #77e06d;
}

.red {
  color: #ee7067;
}

.hide {
  display: none;
}

.subheading {
  font-size: 1.3em;
  font-weight: 300;
  max-width: 170px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.default {
  opacity: .5;
  font-size: 1em;
  margin: 0 auto;
  max-width: 170px;
}

.wrapper .mobile-menu {
  top: 0;
  left: 0;
  background: #fff;
  width: 100vw;
  height: calc(100vh - 100px);
  z-index: 50;
  padding-top: 100px;
  text-align: center;
  position: fixed;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  -webkit-transition: 1s;
  transition: 1s;
}

.wrapper .mobile-menu a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 30px;
  font-size: 3em;
}

.wrapper .mobile-menu .get-started-mobile {
  display: block;
  padding: 10px 15px;
  border: 2px solid rgba(153, 153, 153, 0.2);
  border-radius: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 90%;
}

.wrapper .active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 1s;
  transition: 1s;
}

.wrapper header {
  background: #fff;
  width: calc(100vw - 50px);
  padding: 0 25px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper header nav,
.wrapper header .logo,
.wrapper header .ctas {
  display: none;
}

@media screen and (min-width: 930px) {
  .wrapper header nav,
  .wrapper header .logo,
  .wrapper header .ctas {
    display: initial;
  }
  .wrapper header .mobile {
    display: none;
  }
}

.wrapper header .mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  z-index: 100;
  background: #fff;
}

.wrapper header .mobile a {
  text-decoration: none;
  color: inherit;
}

.wrapper header .mobile .logo-mobile svg {
  width: 50px;
  height: 50px;
}

.wrapper header .mobile .logo-mobile svg path {
  fill: #3ecee7;
}

.wrapper header .mobile .login {
  opacity: .5;
}

.wrapper header .mobile .menu-icon {
  opacity: .5;
  position: relative;
  width: 40px;
  height: 20px;
}

.wrapper header .mobile .menu-icon .line {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #111;
  border-radius: 25px;
}

.wrapper header .mobile .menu-icon .line:nth-child(1) {
  top: 0;
}

.wrapper header .mobile .menu-icon .line:nth-child(2) {
  top: 50%;
}

.wrapper header .mobile .menu-icon .line:nth-child(3) {
  top: 100%;
}

@media screen and (min-width: 930px) {
  .wrapper header .mobile {
    display: none;
  }
}

.wrapper header nav a {
  text-decoration: none;
  color: inherit;
  margin-right: 10px;
  opacity: .5;
  -webkit-transition: .4s;
  transition: .4s;
}

.wrapper header nav a:hover {
  opacity: 1;
  -webkit-transition: .4s;
  transition: .4s;
}

.wrapper header .logo .logo-full svg {
  width: 50px;
  height: 50px;
}

.wrapper header .logo .logo-full svg path {
  fill: #3ecee7;
}

.wrapper header .ctas .login-fullscreen {
  opacity: .5;
  text-decoration: none;
  color: inherit;
  margin-left: 15px;
}

.wrapper header .ctas .get-started {
  display: inline-block;
  padding: 10px 15px;
  border: 2px solid rgba(153, 153, 153, 0.2);
  border-radius: 25px;
  margin-left: 10px;
}

.wrapper header .ctas .get-started:hover {
  cursor: pointer;
  border: 2px solid rgba(17, 17, 17, 0.5);
}

.wrapper .main {
  padding: 0 20px;
}

.wrapper .main .content {
  margin-top: 20px;
  text-align: center;
}

.wrapper .main .content h1 {
  font-size: 5em;
}

.wrapper .main .content h1 span {
  display: inline-block;
  opacity: 0;
}

.wrapper .main .content h1 span:nth-child(1) {
  -webkit-animation: slideUp 1s ease forwards;
          animation: slideUp 1s ease forwards;
}

.wrapper .main .content h1 span:nth-child(2) {
  -webkit-animation: slideUp 1s ease .2s forwards;
          animation: slideUp 1s ease .2s forwards;
}

.wrapper .main .content h1 span:nth-child(3) {
  -webkit-animation: slideUp 1s ease .4s forwards;
          animation: slideUp 1s ease .4s forwards;
}

.wrapper .main .content h1 span:nth-child(4) {
  -webkit-animation: slideUp 1s ease .6s forwards;
          animation: slideUp 1s ease .6s forwards;
}

.wrapper .main .content h1 span:nth-child(5) {
  -webkit-animation: slideUp 1s ease .8s forwards;
          animation: slideUp 1s ease .8s forwards;
}

.wrapper .main .content h1 span:nth-child(6) {
  -webkit-animation: slideUp 1s ease .8s forwards;
          animation: slideUp 1s ease .8s forwards;
}

.wrapper .main .content h1 .typewriter-line {
  background: rgba(153, 153, 153, 0.2);
  width: 15px;
  height: 100%;
  -webkit-animation: blink 1s linear 1.6s infinite;
          animation: blink 1s linear 1.6s infinite;
  color: rgba(153, 153, 153, 0);
}

@media screen and (min-width: 930px) {
  .wrapper .main .content h1 .typewriter-line {
    width: 30px;
  }
}

@media screen and (min-width: 930px) {
  .wrapper .main .content h1 {
    font-size: 300px;
  }
}

.wrapper .main .content p {
  opacity: .5;
  font-size: 1.3em;
  margin: 20px 0;
  -webkit-animation: slideRight 1s ease;
          animation: slideRight 1s ease;
}

@media screen and (min-width: 930px) {
  .wrapper .main .content p {
    font-size: 2em;
    letter-spacing: 3px;
  }
}

.wrapper .main .content .button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 70px;
  background: #50adf8;
  color: white;
  border-radius: 25px;
  margin: 30px auto 40px auto;
  -webkit-animation: slideLeft 1s ease;
          animation: slideLeft 1s ease;
}

@media screen and (min-width: 930px) {
  .wrapper .main .content .button {
    font-size: 1.5em;
    padding: 20px 70px;
    border-radius: 45px;
    margin: 60px auto 200px auto;
  }
}

.wrapper .sections-wrapper {
  background: rgba(235, 235, 235, 0.5);
}

.wrapper .sections-wrapper .cards-wrapper {
  position: relative;
}

.wrapper .sections-wrapper .cards-wrapper .section {
  border-top: 1px solid rgba(85, 85, 85, 0.2);
  text-align: center;
  padding: 55px;
  background: white;
}

.wrapper .sections-wrapper .cards-wrapper .section h3 {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 20px;
}

@media screen and (min-width: 930px) {
  .wrapper .sections-wrapper .cards-wrapper .section h3 {
    font-size: 3.5em;
    margin-bottom: 50px;
    margin-top: 70px;
  }
}

@media screen and (min-width: 930px) {
  .wrapper .sections-wrapper .cards-wrapper .section {
    border-top: none;
    width: 300px;
    height: 430px;
    -webkit-box-shadow: 0 38px 43px rgba(0, 0, 0, 0.09);
            box-shadow: 0 38px 43px rgba(0, 0, 0, 0.09);
  }
  .wrapper .sections-wrapper .cards-wrapper .section .subheading {
    font-size: 1.7em;
    margin-bottom: 30px;
    max-width: 270px;
  }
  .wrapper .sections-wrapper .cards-wrapper .section .default {
    font-size: 1.3em;
    max-width: 270px;
  }
}

@media screen and (min-width: 930px) {
  .wrapper .sections-wrapper .cards-wrapper .buy {
    margin-top: -140px;
    margin-bottom: 70px;
    float: left;
    -webkit-animation: slideRight 1s ease;
            animation: slideRight 1s ease;
  }
  .wrapper .sections-wrapper .cards-wrapper .import {
    float: right;
    margin-top: 200px;
    -webkit-animation: slideLeft 1s ease;
            animation: slideLeft 1s ease;
  }
  .wrapper .sections-wrapper .cards-wrapper .renew {
    float: left;
    margin-bottom: -200px;
    -webkit-animation: slideRight 1s ease;
            animation: slideRight 1s ease;
  }
}

@media screen and (min-width: 930px) {
  .wrapper .sections-wrapper .cards-wrapper {
    margin: 0 auto 158px;
    width: 900px;
  }
}

@media screen and (min-width: 930px) {
  .wrapper .sections-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.wrapper .cta-full {
  display: none;
}

.wrapper .cta-full h2 {
  font-size: 3em;
  margin-top: 200px;
  text-align: center;
  margin-bottom: 100px;
}

.wrapper .cta-full .get-started-full {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #50adf8;
  color: white;
  font-size: 1.5em;
  padding: 20px 70px;
  border-radius: 45px;
  margin: 60px auto 200px auto;
}

@media screen and (min-width: 930px) {
  .wrapper .cta-full {
    display: initial;
  }
}

.wrapper footer {
  padding: 40px 0;
  text-align: center;
}

.wrapper footer p {
  opacity: .3;
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: .5;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: .5;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slideLeft {
  from {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideRight {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */